MediFiches/.phpunit.cache
MediFiches/node_modules
MediFiches/public/build
MediFiches/public/hot
MediFiches/public/storage
MediFiches/storage/*.key
MediFiches/vendor
MediFiches/.env.backup
MediFiches/.env.production
MediFiches/.phpunit.result.cache
MediFiches/Homestead.json
MediFiches/Homestead.yaml
MediFiches/auth.json
MediFiches/npm-debug.log
MediFiches/yarn-error.log
MediFiches/.fleet
MediFiches/.idea
MediFiches/.vscode